<!DOCTYPE html>
<html lang="zh">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">

        <!-- SEO meta -->
        <meta name="keywords" content="斗罗,同人文">
        <meta name="description" content="一个用于刊登斗罗大陆同人文的网站">
        <meta name="author" content="联合国ZB协会长,lhgzbxhz@qq.com">
        <meta name="robots" content="index,follow">
    {% endblock %}

    <title>斗罗同人网 - {% block title %}{% endblock %}</title>

    {% block import %}
        <!-- jQuery==3.5.1 -->
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>

        <!-- layui==2.5.6 -->
        <link rel="stylesheet" href="/static/css/layui.css">
        <script src="/static/layui.js"></script>
    {% endblock %}

    <!-- 让IE8支持媒体查询 [if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head %}{% endblock %}

    {% block style %}{% endblock %}
</head>
<body>

{% block element %}
    <!-- 导航栏 -->
    <ul class="layui-nav layui-bg-cyan" lay-filter="">
        <li class="layui-nav-item"><a href="">首页</a></li>
        <li class="layui-nav-item"><a href="">发布小说</a></li>
    </ul>

    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
{% endblock %}

{% block body %}
{% endblock %}

</body>
</html>